<div class="container">
  {{#if usr_id}}
  <h2>Hello, {{#each usr_name}} {{usr_name}} {{/each}}!</h2>
  <button type="button" class="btn btn-link"onclick="edit()">Edit Account</button>
  <div class="row justify-content-center">
    <div class="col-xs-2 col-sm-2 text-center mx-auto">
      <h4>{{#each usr_name}} {{usr_name}} {{/each}}'s Lists</h4>
      <div>
        {{#each lists}}
        <ul id="side-bar">
            <li> 
              <button type="button" class="btn btn-dark"
               onclick="show_this_list({{lst_id}}, {{../usr_id}})">{{name}}</button>
            </li>
        </ul>
        {{/each}}
        <h6>Recommendation Lists</h6>
        {{#each rec_lists}}
        <ul id="side-bar">
            <li> 
              <button type="button" class="btn btn-dark"
               onclick="show_rec_list({{rec_id}}, {{../usr_id}})">{{name}}</button>
            </li>
        </ul>
        {{/each}}
      </div>
      <div class="row justify-content-center">
          <button type="button" class="btn btn-info"
           onClick="addList({{#if usr_id}}{{usr_id}}{{/if}})">Add New List</button>
      </div>
    </div>
    <div class="col-xs-10 col-sm-10 text-center mx-auto">
      <h1>{{#each name}} {{name}} {{/each}}</h1>
        <table class="style-table" id="pri_list">
            <thead>
                <tr>
                    <th>Restaurant Name</th>
                    <th>Address</th>
                    <th>Food Type</th>
                    <th>Action(s)</th>
                </tr>
            </thead>
            <tbody>
                {{#if pri_list_rr}}
                {{#each pri_list_rr}}
                <tr id = {{lst_id}}>
                    <td>{{rr_name}}</td>
                    <td>{{rr_address}}, {{rr_city}}, {{rr_state}} {{rr_zip}}</td>
                    <td>{{rr_foodType}}</td>
                    <td>
                        <button type="submit" class="btn btn-info horizontal-btn"
                        id="rec-rr-Btn"
                        onclick="recRR({{../usr_id}}, {{#if rr_id}}{{rr_id}}{{/if}})">Recommend
                        <i class="far fa-thumbs-up"></i>
                        </button>
                        <button type="button" class="btn btn-info horizontal-btn" id="del-rr-button"
                        data-value1="{{#if lst_id}}{{lst_id}}{{/if}}"
                        data-value2="{{../usr_id}}"
                        data-value3="{{#if rr_id}}{{rr_id}}{{/if}}"
                        data-value4=0>Delete
                         <i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
                {{/each}}
                {{/if}}
                {{#if is_rec}}
                {{#each rr_rec_list}}
                <tr id = {{../lst_id}}>
                    <td>{{rr_name}}</td>
                    <td>{{rr_address}}, {{rr_city}}, {{rr_state}} {{rr_zip}}</td>
                    <td>{{rr_foodType}}</td>
                    <td>
                        <button type="button" class="btn btn-info horizontal-btn" id="del-rr-button"
                        data-value1="{{../lst_id}}"
                        data-value2="{{../usr_id}}"
                        data-value3="{{#if rr_id}}{{rr_id}}{{/if}}"
                        data-value4=1>Delete
                        <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
        {{#if is_pri}}
        <div class="row justify-content-center">
            <button type="button" class="btn btn-info horizontal-btn"
             onClick= "findFriend({{#if lst_id}}{{lst_id}}{{/if}})">Share this list with a friend</button>
            <button type="button" class="btn btn-info horizontal-btn"
             onClick="addRR({{#if lst_id}}{{lst_id}}{{/if}}, {{#if usr_id}}{{usr_id}}{{/if}})">Add restraunt to this list</button>
            <button type="button" class="btn btn-info horizontal-btn" id="delete-list-button" data-value1={{#if lst_id}}{{lst_id}}{{/if}}
            data-value2="{{#if usr_id}}{{usr_id}}{{/if}}">Delete this list</button>
        {{/if}}
        {{#if is_rec}}
            <button type="button" class="btn btn-info horizontal-btn" id="delete-rec-list-button" data-value1={{#if lst_id}}{{lst_id}}{{/if}}
            data-value2="{{#if usr_id}}{{usr_id}}{{/if}}">Delete this list</button>
        {{/if}}
        </div>
    </div>
  </div>
  {{else}}
  <h2>Pick a user in user page to see lists!</h2>
  {{/if}}
</div>
